---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        800px;
$on-desktop:       1024px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .container {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
	padding-top: 70px;
}

#home-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

.item .slide-filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(38, 41, 46, .7)
}

.item .slide-text {
    position: absolute;
    display: block;
    bottom: 5%;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    z-index: 22;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 4em
}

.item .slide-text h2,
.item .slide-text span {
    font-weight: 300;
    color: #FFF;
    position: relative
}

.home .slide-text h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 2px
}
@media(max-width:800px) {
    .home .slide-text h2 {
        font-size: 30px;
    }
    .home .slide-text {
        font-size: 1em;
    }
    .slide-blurb {
        display:none;
    }
}
@media(max-width:1280px) {
    .home .slide-text h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .home .slide-text {
        font-size: 1em;
    }
    .home .slide-text .slide-blurb {
        line-height: 15px;
        font-size: 15px;
    }
}

.item .slide-text span {
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0
}

.col-md-4:nth-child(3n+1){
    clear:left
}

.portfolioContainer .col-md-4:nth-child(3n+1){
    clear:none
}

.blog-thumb {
    height: 150px;
    max-width: 98%;
}

.blog-thumb img {
    height: 150px;
    min-width: 100%;
    object-fit:cover;
}

.bottom-right {
    position: absolute;
    bottom: 40px;
    right: 25px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.centered {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.post-content {
    position: absolute;
    top:215px;
}
.post-thumb {
    min-height:400px;
}
.slide-image {
    height: 50vh;
    min-height: 200px;
    max-width: 100%;
}

.slide-image img {
    min-height: 50vh;
    min-width: 100%;
    object-fit:cover;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
