---
layout: default
permalink: /
---

<div class="home">

  <div class="page-heading">
    <h1>Critical Truth: Reviews and Editorials</h1>
    <h3 class="page-meta">A Place to Talk Critically About What You Love</h3>
  </div>

  <div id="home-slider" class="owl-carousel">
    {% for post in site.posts limit:10 %}
    <div class="item" {% if forloop.first %}style="display:block; background: url('{{ post.image }}');"{% endif %}>
      <a href="{{ post.url }}">
        <div class="slide-text">
          <h2><span>{{ post.title }}</span></h2>
          <span class="slide-blurb"><span>{{ post.blurb }}</span></span>
        </div>
        <div class="slide-image">
          <img {% unless forloop.first %}class="lazyOwl" data-src="{{ post.image }}"{% endunless %}{% if forloop.first %}src="{{ post.image }}"{% endif %} alt="{{ post.title }}">
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  
  <h2>Recent Reviews</h2>
  
  <div class="row">
    {% for post in site.categories["review"] limit: 3 %}
    <article class="col-md-4 col-sm-6 post-thumb">
        <a href="{{ post.url }}">
          <figure class="blog-thumb">
              <img src="{% if post.image %}{{ post.image }}{% else %}/img/carousel/fullimage1.jpg{% endif %}" alt="{% if post.blurb %}{{ post.blurb }}{% else %}{{  post.description }}{% endif %}" title="{% if post.blurb %}{{ post.blurb }}{% else %}{{ post.description }}{% endif %}">
          </figure>
        </a>
        <div class="post-area">
            <a href="{{ post.url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <p class="post-info"><span class="glyphicon glyphicon-time"></span> {{ post.date | date: "%b %-d, %Y" }} | <a href="{{ site.url }}{{ post.url }}#comments">Comments<!-- <span class="badge"><fb:comments-count href="{{ site.url }}{{ post.url }}"></fb:comments-count></span>--></a><!--{% if post.rating %} | <i>{{ post.rating}}/100</i>{% endif %}--><br />
            <!--{{post.content|strip_html|truncate:110}}-->{% if post.blurb %}{{ post.blurb }}{% else %}{{post.content|strip_html|truncate:110}}{% endif %}</p>
            
            <div class="bottom-right"><a class="btn btn-primary btn-xs" href="{{ post.url }}">Read More</a></div>
        </div>
    </article>
    {% endfor %}
  </div>
  
  <h2>Recent Editorials</h2>
  
  <div class="row">
    {% for post in site.categories["editorial"] limit: 3 %}
    <article class="col-md-4 col-sm-6 post-thumb">
        <a href="{{ post.url }}">
          <figure class="blog-thumb">
              <img src="{% if post.image %}{{ post.image }}{% else %}/img/carousel/fullimage1.jpg{% endif %}" alt="{% if post.blurb %}{{ post.blurb }}{% else %}{{  post.description }}{% endif %}" title="{% if post.blurb %}{{ post.blurb }}{% else %}{{ post.description }}{% endif %}">
          </figure>
        </a>
        <div class="post-area">
            <a href="{{ post.url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <p class="post-info"><span class="glyphicon glyphicon-time"></span> {{ post.date | date: "%b %-d, %Y" }} | <a href="{{ site.url }}{{ post.url }}#comments">Comments<!-- <span class="badge"><fb:comments-count href="{{ site.url }}{{ post.url }}"></fb:comments-count></span>--></a><!--{% if post.rating %} | <i>{{ post.rating}}/100</i>{% endif %}--><br />
            <!--{{post.content|strip_html|truncate:110}}-->{% if post.blurb %}{{ post.blurb }}{% else %}{{post.content|strip_html|truncate:110}}{% endif %}</p>
            
            <div class="bottom-right"><a class="btn btn-primary btn-xs" href="{{ post.url }}">Read More</a></div>
        </div>
    </article>
    {% endfor %}
  </div>

  <!--
  {% assign this_years_posts = site.array %}
  {% for post in site.categories.review %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if this_year == '2016' %}
      {% assign this_years_posts = this_years_posts | push: post %}
    {% endif %}
  {% endfor %}
  {% assign sorted = this_years_posts | sort: 'rating' | reverse %}
  {% for item in sorted limit: 10 %}
    <p><a href="{{ item.url }}">{{ item.title }}</a></p>
  {% endfor %}
  -->
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
