---
layout: default
title: Editorials
order: 2
---

<div class="home">

  <h1 class="page-heading">Editorials</h1>

    <!-- BEGIN BLOG -->
    <div class="row">
        {% for post in site.categories.editorials limit:9 %}
        <article class="col-md-4 col-sm-6 post-thumb">
            <a href="{{ post.url }}">
                <figure class="blog-thumb">
                <img src="{% if post.carousel %}{{ post.carousel }}{% else %}/img/carousel/fullimage1.jpg{% endif %}" alt="{{ post.description }}" {% if post.description %}title="{{ post.description }}"{% endif %}>
                </figure>
            </a>
            <div class="post-area">
                <a href="{{ post.url }}">
                    <h4>{{ post.title }}</h4>
                </a>
                <p class="post-info"><span class="glyphicon glyphicon-time"></span> {{ post.date | date: "%b %-d, %Y" }} | <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comments</a><br />
                {{post.content|strip_html|truncate:110}} </p>
                <p><a class="btn btn-primary btn-xs bottom-right" href="{{ post.url }}">Read More</a></p>
            </div>
        </article>
        {% endfor %}
    </div>
    <!-- END BLOG -->
    <!-- BLOG NAVIGATION -->
    <div class="row row-centered">
        <div class="col-md-4 col-sm-6 col-centered">
            <div class="btn-group btn-group-justified">
                <a href="/" class="btn btn-primary">&larr; Home</a>
                <a href="/archive" class="btn btn-primary">Archived Posts &rarr;</a>
            </div>
        </div>
    </div>
    <!-- BLOG NAVIGATION -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
