      <!-- Navbar
  ================================================== -->

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li{% if page.order == 1 %} class="active"{% endif %}><a href="/reviews">Reviews{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <li{% if page.order == 2 %} class="active"{% endif %}><a href="/editorials">Editorials{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <li{% if page.order == 3 %} class="active"{% endif %}><a href="/about">About{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <li{% if page.order == 10 %} class="active"{% endif %}><a href="/archive">Archive{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
          </ul>
          <div class="w-form form-wrapper">
            <form name="cse" id="searchbox" action="/results" method="get" class="navbar-form navbar-right" role="search">
              <input type="hidden" name="cx" value="012786251990353476482:umabi0aurfm " /><!-- Replace YOUR_CSEID with your CSE ID (!) -->
              <input type="hidden" name="ie" value="utf-8" />
              <input type="hidden" name="hl" value="en" />
              <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search">
              </div>
              <button class="btn btn-default" value="Go" type="submit" name="sa" />Submit</button>
            </form>
          </div>
          <script>
            (function() {
              var cx = '012786251990353476482:umabi0aurfm';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
          </script>
        </div>
  </div>
</div>
  <!-- End Navbar -->
