<script src="{{ "/js/jquery-1.9.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script>
	$(document).ready(function() {
	 
	  $("#home-slider").owlCarousel({
	 
	      navigation: true, // Show next and prev buttons
	      responsiveClass:true,
	      autoPlay:true,
	      autoplayTimeout: 5000,
	      slideSpeed : 3000,
	      paginationSpeed : 400,
	      stopOnHover:true,
	      items:1,
	      loop:true
	 
	      // "singleItem:true" is a shortcut for:
	      // items : 1, 
	      // itemsDesktop : false,
	      // itemsDesktopSmall : false,
	      // itemsTablet: false,
	      // itemsMobile : false
	 
	  });
	 
	});
</script>