<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  
  {% if page.robots_index == false %}
  <meta name="robots" content="noindex">
  {% endif %}
  

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{% if page.categories %}{{ page.categories | first | capitalize }} | {% endif %}{{ site.title }}{% if page.url == "/" %}: A Home for Critical Reviews and Editorials{% endif %}</title>
  <meta name="description" content="{% if page.url == '/' %}{{ site.description }}{% elsif page.blurb %}{% if page.subjectInfo.name %}{{ page.subjectInfo.name }}{% else %}{{ page.title }}{% endif %}, {{ page.categories[1] | capitalize }} {{ page.categories[0] | capitalize }}: {{ page.blurb }}{% elsif paginator %}Archive of reviews for Critical-Truth, page {{ paginator.page }} of {{ paginator.total_pages }}.{% elsif page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 120 }}{% endif %}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{% if page.categories %}{{ page.categories | first | capitalize }} | {% endif %}{{ site.title }}{% if page.url == "/" %}: Reviews and Editorials{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.cdnurl }}{% else %}{{ "/img/site-resource/logo-page.jpg" | prepend: site.cdnurl }}{% endif %}">
  <meta property="og:description" content="{% if page.url == '/' %}{{ site.description }}{% elsif page.blurb %}{% if page.subjectInfo.name %}{{ page.subjectInfo.name }}{% else %}{{ page.title }}{% endif %}, {{ page.categories[1] | capitalize }} {{ page.categories[0] | capitalize }}: {{ page.blurb }}{% elsif paginator %}Archive of reviews for Critical-Truth, page {{ paginator.page }} of {{ paginator.total_pages }}.{% elsif page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 120 }}{% endif %}" />
  <meta property="fb:app_id" content="{{ site.fbappid }}"/>
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/css/bootstrap-theme.min.css" | prepend: site.cdnurl }}">
  <link rel="stylesheet" href="{{ "/css/owl.carousel.css" | prepend: site.cdnurl }}">
  <link rel="stylesheet" href="{{ "/css/owl.transitions.css" | prepend: site.cdnurl }}">
  <link rel="stylesheet" href="{{ "/css/owl.theme.css" | prepend: site.cdnurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.cdnurl }}">
  
  <!-- Social Sharing Icons -->
  <link rel="stylesheet" href="{{ "/css/social-share-kit.css" | prepend: site.cdnurl }}" type="text/css">

  {% assign author = site.data.authors[page.author] %}
  {% if page.id %}
  <!-- Structured Data -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": {% if page.reviewInfo %}"Review"{% else %}"Article"{% endif %},
      "datePublished" : "{{ page.date }}",
      "dateModified" : "{{ page.date }}",
      "headline":"{{ page.title }}",
      "description" : "{{ page.categories[1] | capitalize }} {{ page.categories[0] | capitalize }}: {{ page.blurb }}",
      "image":{
        "@type":"imageObject",
        "url":"{{ page.image | prepend: site.cdnurl }}",
        "width":"800",
        "height":"450"
      },
      {% if page.reviewInfo %}"reviewBody"{% else %}"articleBody"{% endif %}:"{{ page.content | strip_html }}",
      {% if page.subjectInfo %}{% if page.reviewInfo %}"itemReviewed"{% else %}"about"{% endif %}: {
        "@type": "{{ page.subjectInfo.type }}",
        "name": "{{ page.subjectInfo.name }}",
        {% if page.subjectInfo.image %}"image": "{{ page.subjectInfo.image }}",{% endif %}
        {% if page.subjectInfo.sameAs %}"sameAs": "{{ page.subjectInfo.sameAs }}",{% endif %}
        {% if page.subjectInfo.director %}"director":"{{ page.subjectInfo.director }}",{% endif %}
        {% if page.subjectInfo.operatingSystem %}"operatingSystem":"{{ page.subjectInfo.operatingSystem }}",{% endif %}
        {% if page.subjectInfo.applicationCategory %}"applicationCategory":"{{ page.subjectInfo.applicationCategory }}",{% endif %}
        "dateCreated":"{{ page.subjectInfo.dateCreated }}"
      },{% endif %}
      "author": {
        "@type": "Person",
        "name": "{{ author.name }}",
        "sameAs":"{{ author.web }}"
      },
      {% if page.reviewInfo %}"reviewRating": {
        "@type": "Rating",
        "ratingValue": "{{ page.reviewInfo.rating }}",
        "worstRating":"0",
        "bestRating": "100"
      },{% endif %}
      "publisher": {
        "@type": "Organization",
        "name": "Critical Truth",
        "logo":{
          "@type":"imageObject",
          "url":"{{ "/img/site-resource/logo.png" | prepend: site.cdnurl }}"
        }
      },
      "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
      }
    }
  </script>
  
  {% comment %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8475356019399300",
      enable_page_level_ads: true
    });
  </script>
  {% endcomment %}
  {% endif %}
  
  
  <style>
    /**
     * Note: I have omitted any vendor-prefixes for clarity.
     * Adding them is left as an exercise for the reader.
     */
    .headroom {
        will-change: transform;
        transition: transform 200ms linear;
    }
    .headroom--pinned {
        transform: translateY(0%);
    }
    .headroom--unpinned {
        transform: translateY(-100%);
    }
  </style>
</head>
