<!-- Navbar -->


<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ "/img/site-resource/logo.png" | prepend: site.cdnurl }}" alt="Site Logo" /></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li{% if page.order == 1 %} class="active"{% endif %}><a href="/reviews/">Reviews{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <li{% if page.order == 2 %} class="active"{% endif %}><a href="/editorials/">Editorials{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <li{% if page.order == 3 %} class="active"{% endif %}><a href="/archive/">Archive{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <li{% if page.order == 10 %} class="active"{% endif %}><a href="/about/">About{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
          </ul>
          <div class="w-form form-wrapper hidden-sm">
            <form name="cse" action="/results" id="cse-search-box" class="navbar-form navbar-right" role="search">
              <div>
                <input type="hidden" name="cx" value="partner-pub-8475356019399300:2319328558" />
                <input type="hidden" name="cof" value="FORID:10" />
                <input type="hidden" name="ie" value="UTF-8" />
                <div class="form-group">
                  <input type="text" name="q" class="form-control" placeholder="Search">
                </div>
                <input class="btn btn-default" type="submit" name="sa" value="Search" />
              </div>
            </form>
          </div>
          <script>
            (function() {
              var cx = '012786251990353476482:umabi0aurfm';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
          </script>
        </div>
  </div>
</header>
<!-- End Navbar -->
