---
layout: default
---
<div class="row">
  <div class="col-lg-8">
    <div class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{% if page.categories %}{{ page.categories[1] | capitalize }} {{ page.categories | first | capitalize }} • {% endif %}{{ page.date | date: "%b %-d, %Y" }}{% if page.author %}{% assign author = site.data.authors[page.author] %} • Author: <a href="{{ author.web }}">{{ author.name }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        {% include social-media.html %}
      </header>
      <article class="post-content">
        {% capture post_year %}{{ page.date | date: "%Y" }}{% endcapture %}{% assign post_year = post_year | plus:0 %}{% if post_year > 2016 %}<img class="img-responsive webfeedsFeaturedVisual " width="100%" style="margin: 0 10px 10px 0px;" src="{{ page.image }}">{% endif %}
        {{ content }}
        {% if page.reviewInfo.rating %}
        <table class="table">
          <tbody>
            <tr>
              <td><b>Final Verdict</b>:</td><td>{{ page.reviewInfo.final-verdict }}</td>
            </tr>
            <tr>
              <td><b>Rating</b>:</td><td>{{ page.reviewInfo.rating }} / 100</td>
            </tr>
          </tbody>
        </table>
        {% endif %}
      </article>
      {% include social-media.html %}
      <br>
      <hr class="clear">
      <h2 id="comments">Comments</h2>
      <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%"></div>
      <noscript>Please enable JavaScript to view the comments powered by Facebook.</noscript>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="sidebar-nav">
      <h3>Sponsors</h3>
      {% include ads.html %}
      <!--googleoff: all-->
      <!--noindex-->
      <h3>Related Articles</h3>
      {% assign totalPosts = site.related.max_count %}
      {% assign minRecent = site.related.min_recent %}
      {% assign minCommonTags = site.related.min_related %}
      
      
      
      {% assign maxCommonTags = page.categories | size | minus: 3 %}
      {% assign recentPosts = site.posts | where_exp:"item","item.url != page.url" %}
      {% assign maxRelated = totalPosts | minus: minRecent %}
      
      
      {% for counter in page.categories %}
        
        {% if maxCommonTags < minCommonTags %}
          {% break %}
        {% endif %}
        {% for post in recentPosts %}
        
          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}
      
          {% for category in post.categories offset:2 %}
            {% if page.categories contains category %}
              {% assign sameTagCount = sameTagCount | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
              {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
          {% endfor %}
          
      
          {% if sameTagCount >= maxCommonTags %}
            {% include related-post.html post=post %}
            {% assign recentPosts = recentPosts | where_exp: "item","item != post" %}
          
            {% assign maxRelated = maxRelated | minus: 1 %}
            {% if maxRelated == 0 %}
              {% break %}
            {% endif %}
            
          {% endif %}
          
        {% endfor %}
        
        {% if maxRelated == 0 %}
          {% break %}
        {% endif %}
        
        {% assign maxCommonTags = maxCommonTags | minus: 1 %}
        
      {% endfor %}
      
      {% assign maxRelated = maxRelated | plus: minRecent %}
      {% for post in recentPosts limit:maxRelated %}
        {% include related-post.html post=post %}
      {% endfor %}
      <!--/noindex-->
      <!--googleon: all-->
    </div>
  </div>
</div>



