---
layout: default
---
<div class="row">
  <div class="col-lg-8">
    <div class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        <div class="social">
        	<span class="google">
        		<g:plusone size="medium"></g:plusone>
        	</span>
        	<span class="Facebook">
        		<div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        	</span>
          <span class="twitter">
            <a class="twitter-share-button"  href="https://twitter.com/intent/tweet">Tweet</a>
          </span>
          <span class="reddit">
            <script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script>
          </span>
        </div>
      </header>
      <article class="post-content">
        {{ content }}
        {% if page.rating %}
          <table class="table">
            <tbody>
              <tr>
                <td><b>Final Verdict</b>:</td><td>{{ page.final-verdict }}</td>
              </tr>
              <tr>
                <td><b>Rating</b>:</td><td>{{ page.rating }} / 100</td>
              </tr>
            </tbody>
          </table>
        {% endif %}
      </article>
      <div class="ssk-group ssk-count ssk-lg">
          <a href="" class="ssk ssk-facebook"></a>
          <a href="" class="ssk ssk-twitter"></a>
          <a href="" class="ssk ssk-google-plus"></a>
          <a href="" class="ssk ssk-pinterest"></a>
      </div>
      <br>
      <hr class="clear">
      <h2 id="comments">Comments</h2>
      <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%"></div>
      <!--<div id="disqus_thread"></div>
      <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

      var disqus_config = function () {
          this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ page.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//critical-truth.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
      </script>-->
      <noscript>Please enable JavaScript to view the comments powered by Facebook.</noscript>

    </div>
  </div>
  <div class="col-lg-4">
    <div class="sidebar-nav">
      <!--googleoff: index-->
    <h3>Related Articles</h3>
    {% for post in site.related_posts limit:7 %}
    {% if post.url != page.url %}
    <article class="col-lg-12">
        <a href="{{ post.url }}">
            <figure class="blog-thumb">
            <img src="{% if post.carousel %}{{ post.carousel }}{% else %}/img/carousel/fullimage1.jpg{% endif %}" alt="{{ post.description }}" {% if post.description %}title="{{ post.description }}"{% endif %}>
            </figure>
        </a>
        <a href="{{ post.url }}">
            <h4>{{ post.title }}</h4>
        </a>
        <span class="glyphicon glyphicon-time"></span> {{ post.date | date: "%b %-d, %Y" }} | <a href="{{ site.url }}{{ post.url }}#comments">Comments <span class="badge"><fb:comments-count href="{{ site.url }}{{ post.url }}"></fb:comments-count></span></a><br><br>
    </article>
    {% endif %}
    {% endfor %}
      <!--googleon: index-->
    </div>
  </div>
</div>
