---
title: Reviews
layout: default
robots_index: False
permalink: /reviews/
pagination:
  enabled: True
  category: 'review'
order: 1
---


<div class="home">

  <h1 class="page-heading">Reviews{% if paginator %} - Page {{ paginator.page }} of {{ paginator.total_pages }}{% endif %}</h1>

    <!-- BEGIN BLOG -->
    <div class="row">
        {% for post in paginator.posts %}
        {% include post-panel post=post %}
        {% endfor %}
    </div>
    <!-- END BLOG -->
    <!-- BLOG NAVIGATION -->
    <div class="row row-centered">
        <div class="col-md-4 col-sm-6 col-centered">
            <div class="btn-group btn-group-justified">
                {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="btn btn-primary">< Newer</a>{% endif %}
                <a href="/" class="btn btn-primary">Home</a>
                {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="btn btn-primary">Older ></a>{% else %}<a href="/archive/" class="btn btn-primary">Full Archive</a>{% endif %}
            </div>
        </div>
    </div>
    <!-- BLOG NAVIGATION -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>